.vp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.vp-c2{
    display: flex;
    flex-direction: row;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 20px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.vp-img-area{
 display: flex;
 flex-direction: column;
 align-items: center;
 border-right: 1px solid grey ;
 padding: 10px 50px;
}
.vp-rnk-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
}
.vp-img{
    width: 200px;
    height: 250px;
}
.progress-bar1{
    width: 555px;
    height: 10px;
    background-color: none;
    margin-top: 10px;
}
.cbd-prgrs-area{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.vp-rating-area{
    padding: 10px 0px 0px 50px;
}
.bar-txt{
display: flex;
align-items: center;
}
